html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

section {
  font-family: Helvetica, sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  min-width: 200px;
}

* {
  box-sizing: border-box;
}
img {
  width: 360px;
}
div.column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
  background-size: cover;
  background-position: center;
}

div.column:first-child {
  background-image: url(../img/left.jpg);
}

div.column:first-child:hover {
  background-image: none;
}

div.column:last-child {
  background-image: url(../img/right.jpg);
}

div.column:last-child:hover {
  background-image: none;
}

a.button {
  display: block;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

a,
a:visited,
a:active {
  color: rgb(255, 255, 255);
}

a.button {
  display: block;
  width: 120px;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  font-size: 14px;
}
